
/* Natnael Tedros - ATR/0119/11*/

.body h1{
    color: #52ab98;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.body h2{
    color: #52ab98;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

article {
    background-color: white;
    width: 60%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    padding: 20px;
}

input[type=button], input[type=submit]{
    width: 8%;
    height: 11%;
    text-align: center;

}
.submit {
    display: grid;
    margin: auto;
}
label{
    color: #52ab98;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form .txt_field{
    position: relative;
    border-bottom: 2px solid #52ab98;
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #52ab98;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #266777;
    transition: .5s;
  }
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #266777;
  }
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before{
    width: 100%;
  }