
/* Natnael Tedros - ATR/0119/11*/

.body{
    padding: 20px;
    background-color: white;
    width: auto;
    height: auto;
    margin: 20px 10%;
    border-radius: 20px;
    text-align: center;
}
.body h1{
    color: #52ab98;
    font-style: bold;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.body h2{
    color: #52ab98;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
table, th, td {
    background-color: white;
    border: 1px solid #52ab98;
    border-collapse: collapse;
    padding: 12px;
    margin-right: auto;
    margin-left: auto;
}

th {
    color: #52ab98;
    font-style: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
td {
    color: #52ab98;
    font-style: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a:link{
    color: #52ab98;
     
}
a:hover{
    color: black;
}
.body label{
    
    text-align: center;
    color: #52ab98;
}
input[type=button]{
    padding: 9px 25px;
  background-color: rgba(0, 136, 169, alpha);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
input[type=button]:hover{
    background-color: #52ab98;
}
