/* Abdennasir Taju ATR/4057/11 */


.body h1 {
    color: #52ab98;
    font-style: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input[type=submit]{
    width: 8%;
    height: 11%;
    text-align: center;
    left: 46%;

}

  .dropdown {
    height: 10vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;


  }

    #message[type = text]
  {

     maxlength: 200;
      height: 100px;
      width:27%;
  }