/*Done By Merry Terefe*/
/*This CSS implementation of the  registration and add and drop page  */
.wrapper{/*it divided the whole page into three rows and 12 columns*/
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:  100px 1000px 60px;
}
:root{
--primary: #266777;
}
.header{/*The header property is shown here*/
  grid-column: span 12;
  text-align: center;
  background-color: #f1f1f1;
}  
.menu{/* The Menu property is shown here*/
  grid-column: span 3;
  text-align: left;
  font-style: bold;
  background-color: rgb(255,255,255);
}

.content{/* IT shows the property of Content*/
  grid-column: span 9;
  background-color: rgb(255,255,255);
  text-align: center;
}
.footer{/*Describes the footer Property of the page*/
grid-column: span 12;
color: #266777;
bottom: 0vh;
right: 0vh;
left: 0vh;
padding: 10px;
}

@media  screen and(max-width:480px){/*Describe the property of the page when the max width is equal to 480px*/
  .header{
      grid-column: span6;
  }
  .menu{
      grid-row: 1;
      grid-column: span 12;
  }
  .content{
      grid-column:span 12 ;
  }
}
body{/*The property of the body is shown here*/
  background-color: rgb(255,255,255);
  margin: 0;}
  table {/*Property of the table*/
    border-collapse: collapse;
    width: 80%;
  }
  th {/*property of header in the table*/
  background-color: #043755;
  color: white;
}
  th, td {/*property of the component of the table*/
    text-align: left;
    padding: 8px;
    width: 120px;
  }
  input[type=submit] {/*Property of submit button*/
    background-color: #4CAF50;
    color: white;
    padding: 9px 25px;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  input[type=submit]:hover {/*property of submit buttor when cursor hover over it*/
    background-color: #45a049;}
    #add {/*property of add button*/
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      float: right;
    }
    #drop:hover, #add:hover {/*property of add and drop button when the cursor hover over it*/
      background-color: #45a049;}
      #drop {/*property of drop button*/
        background-color: rgb(255,255,255);
        color: rgb(0,0,0);
        padding: 12px 20px;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        float: right;
        transition: all 0.3s ease 0s; }

 
  