<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Assignment/ Project Submission</title>
	<link rel="stylesheet" href="assignmentSubmission.css" type="text/css">
</head>
<body>
<h2 align = "center"> Assignment/ Project Submission </h2> 
<hr>

<table align = "center">
<tr>
	<td>Course</td>
	<td>Assignment</td>
	<td>Upload</td>
</tr>
<a href="" download></a>
<% if (msg == null){ %>
</table>
<p>You have no Assignment.</p>
<% }else {%>
	<% msg.forEach( cmsg => {%>
		<tr>
			<td><%= cmsg.courseName %></td>
			<td><a download href= <%= cmsg.path%> download> Download </a></td>
			<td> <a href="/projandassSubmition" target=_blank> SUBMIT PAGE</a>
			</td>
		</tr>
 <%})%>

</table>
<% } %>
</body>
</html>