<!DOCUMENT html>
<html>
<head>
</head>
<body>

  <h1>Withdrawal Request</h1>								<!--main purpose of page-->
  <h2>Students Name</h2>

  <form action="/withdrawal" method="post">
  	<label for="name"><sub>Name:</sub></label>					<!--name information-->
 	    <input type="text" id="name" name="name" value="" required><br><br>

 	<label for="id"><sub>ID:</sub></label>						<!--id information-->
 	    <input type="text" id="id" name="id" value="" required><br><br>

        <label for="sex"><sub>Sex:</sub></label>					<!--sex information-->
 	    <input type="text" id="sex" name="sex" value="" required><br><br>

        <label for="dep"><sub>Department:</sub></label>					<!--Department information-->
 	    <input type="text" id="dep" name="dep" value="" required><br><br>

        <label for="rfw"><sub>Reason for Withdrawal:</sub></label>			<!--Reasons for withdrawal information-->
 	    <input type="text" id="rfw" name="rfw" value="" required><br><br>
       <% if(msg) { %>
        <p>withdrawal request not successfull!!! please try again</p>
    <% } %>

    <button type="submit">submit</button> 					<!--submit and cancel buttons-->
    <button type="cancel">cancel</button> 
  </form>
</body>
</html>