<!DOCTYPE html>
<html>
<head>
<title>costsharing</title>
</head>
<body>
  <h1>Cost Sharing</h1>
  
 	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_account_information.html">Account<br>				<!--link for first subpage choice-->
	<sub>Personal Information</sub></a></p>
	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_home_address.html">Address<br>					<!--link for second subpage choice-->	
	<sub>Home Address</sub></a></p>
	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_payment_methods.html">Payment<br>					<!--link for third subpage choice-->
	<sub>Payment Method</sub></a></p>
  
	<h3>Personal Information</h3>										<!--personal information-->
	<% if (msg) { %>
		<p>Error please enter the correct info!</p>
	<% } %>
  <form action="/costSharing/accountInfo" method="post">										<!--goes to site to verify information submitted-->
  	<label for="accinfo"><sub>Account Information</sub></label><br>						<!--account information-->
 	    <input type="text" id="accinfo" name="accinfo" placeholder="1000**********" required><br><br>
 	<label for="email"><sub>Email</sub></label><br>								<!--email information-->
 	    <input type="text" id="email" name="email" placeholder="example@example.com"><br><br>
    <label for="phone"><sub>Phone Number</sub></label><br>							<!--phone number information-->
        <input type="text" id="phone" name="phone" value="+2519********"><br><br>

	  <h4>Services you want to apply to:</h4>									<!--list of services to subscribe to-->
        <input type="checkbox" id="foods" name="foods" value="foods">
        <label for="foods">Food Service</label><br>								<!--food and dormitory services choices-->
        <input type="checkbox" id="dorms" name="dorms" value="dorms">
        <label for="dorms">Dormitory Service</label><br><br><br><br><br><br>
	<hr>
 	    <input type="submit" value="Save Changes">								<!--save and discard choices-->
        <input type="reset" value="Discard Changes">
  </form>
  
</body>