<!DOCTYPE html>
<html>
<head>
<title>costsharing</title>

</html>
</head>
<body>
  <h1>Cost Sharing</h1>						<!--main page information-->

 	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_account_information.html">Account<br>				<!--link for first subpage choice-->
	<sub>Personal Information</sub></a></p>

	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_home_address.html">Address<br>					<!--link for second subpage choice-->
	<sub>Home Address</sub></a></p>

	<p><a href="https://pr2tat2.w3spaces.com/costt_sharing/costt_sharing_payment_methods.html">Payment<br>					<!--link for third subpage choice-->
	<sub>Payment Method</sub></a></p>	
  
  <h3>Home Address</h3>
  <form action="/costSharing/homeadr" method="post">						<!--link that will verify submitted information-->
  	<label for="city"><sub>City</sub></label><br>				<!--city information-->
 	    <input type="text" id="city" name="city" value=""><br><br>
 	<label for="scity"><sub>Subcity</sub></label><br>			<!--subcity information-->
 	    <input type="text" id="scity" name="scity" value=""><br><br>
        <label for="woreda"><sub>Woreda</sub></label><br>			<!--woreda information-->
            <input type="text" id="woreda" name="woreda" value=""><br><br>
        <label for="hnum"><sub>House Number</sub></label><br>       		<!--house number information-->
	    <input type="text" id="hnum" name="hnum" value=""><br><br>
        <br><br><br><br><br><br><br>
        <hr>
 	    <input type="submit" value="Save Changes">				<!--save and discard buttons-->
            <input type="submit" value="Discard Changes">
  </form>
</body>
</html>