<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nav Bar</title>
    <link rel="stylesheet" href="/login/styles.css">
  </head>
  <body>
    <header class="header">
      <img class="logo" src = "/login/logo.png" alt="logo" >
      <nav class="nav_links">
        <ul>
          
          <li class="nav-item">
            <a href="#" class="nav-link">News</a>
          </li>
          <li class="#">
            <a href="#" class="nav-link">Academic Caledar</a>
          </li>
         
         
          <li class="nav-item">
              <a href="#" class="nav-link">Transfer</a>
            </li>
        </ul>
      </nav>
      <a class="cta" href="#"><button type="button" name="button">Contact</button></a>
    </header>

    <div class="body">
      <div class="right">
        <h1>Login To Your Account</h1>
        <form action = "/login/admin" method="POST">
          <div class="txt_field">
            <input type="text" name="username" required>
            <span></span>
            <label>Username or ID</label>
          </div>
          <div class="txt_field">
            <input type="password"  name="password" required>
            <span></span>
            <label>Password</label>
          </div>
          <% if(error) { %>
            <p id="wrong">Username or Password is incorrect</p>
          <% } %>
          <input type="submit" value="Login">
          
        </form>
      </div>
     

      <div class="image">
        <div class="left">
            <img src="/login/image.png" alt="image" width="500px" height="390px">
          </form>
        </div>
  

</form>
    <footer class="footer">
      
      <div class="container">
        <div class="footer-content">
            <div class="socials">
              <img class="logo" src="/login/logo2.png" alt="logo" width="100px" height="35px">  
                <div class="social">
                    <a href="#"><i class="facebook"></i><img class="logo" src="/login/fbl.png"  alt="logo" width="30px" height="30px"> </a>
                    <a href="#"><i class="twitter"></i><img class="logo" src="/login/twi.png"   alt="logo" width="30px" height="30px"></a>
                    <a href="#"><i class="youtube"></i><img class="logo" src="/login/ytl.png"   alt="logo" width="30px" height="30px"></a>
                    <a href="#"><i class="Telegram"></i><img class="logo" src="/login/tgl.png"  alt="logo" width="30px" height="30px"></a>
                </div>
            </div>
            <div class="items">
                <h3>Legal Information</h3>
            <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="footer_bottom"><small class="end">Copyright © 2021 by Mekdim. All rights reserved.</small> </div>
    </div>
    </footer>
  </body>
</html>
