<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Register</title>

    <link href="/clubcreate/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="font-awesome/css/font-awesome.css" rel="stylesheet"> -->
    <link href="/clubcreate/css/plugins/iCheck/custom.css" rel="stylesheet">
    <!-- <link href="css/animate.css" rel="stylesheet"> -->
    <link href="/clubcreate/css/style.css" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <div>
            <p>Thank you for your intrest to creat new club in our school.</p>
            <p>pleas fill out the following form with approprate information.</p>
            <form class="m-t" role="form" action="/clubcreate"  method = "POST">
                <!-- <h3 style="color: green;">Club Detail</h3> -->
                Club Name:<br>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Peace club"  name = "name"  required>
                </div>
                Club Email:<br>
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="peaceClub@gmail.com"  name="email"  required>
                </div>
                Goal of club:<br>
             <textarea name="goal" rows="5" cols="40">Describe club goal here
             </textarea>
             Vision:<br>
             <textarea name="vision" rows="5" cols="40">DescribeClub vision here
             </textarea>
             Mission:<br>
             <textarea name="mission" rows="5" cols="40">Describe CLub Mission here
             </textarea>

                    
               <% if (message == 1 ) { %>
                         <p>New club request sent successfuly</p>
               <% } %>
              
               <%if (message == 2 ) { %>
                       <p>New club request denied</p>
                <% }  %>
  


                <button type="submit" class="btn btn-primary block full-width m-b">submit</button> -->
                
            </form>
        
        </div>
    </div>

    
   
  

  
   
</body>

</html>
