<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title >Contact Department Head</title>
	
	<style>
	/* Abdennasir Taju ATR/4057/11 */
:root{
  --primary-color:#266777 !important;
  --secondary-color:#52ab98 !important;
  --tertiary-color:#c8d8e4 !important;
  --quaternary-color:#f2f2f2 !important;
  --quinary-color:#ffffff !important;
  
}

.dark-theme{
  --primary-color:#c4c4c4 !important;
  --secondary-color:#929292 !important;
  --tertiary-color:#484848 !important;
  --quaternary-color:#121212 !important;
  --quinary-color:#323232 !important;
}

.body h1 {
    color: #52ab98;
    font-style: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


input[type=submit]{
    width: 8%;
    height: 11%;
    text-align: center;
    left: 46%;

}

  .dropdown {
    height: 10vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;


  }

    #message[type = text]
  {

     maxlength: 200;
      height: 100px;
      width:27%;
  }
	</style>
	
	
</head>
<body>
<form action="/contactdephead" method="POST">
	<h2 align = "center"> Contact Departement Head</h2> 
<div align = "center" class= "class1"> <select name="department" >

  <option value="Eleceng">Select</option>
  <option value="Eleceng">Electrical and Computer</option>
  <option value="civil">Civil and Enviromental</option>
  <option value="mechanical">Mechanical and Industrial</option>
  <option value="biomedical">Biomedial </option>
  <option value="chemical">Chemical and Bio</option>
  <option value="it">Information Technology</option>
</select></div>
<hr> 
<div align="center" class = "class1"> <input name = "subject" type = "text" placeholder="Subject"> </div> <br>
<div align="center" class ="class1"> <input name = "bodyy" type = "text" placeholder="write your message here..."> </div> <br>

<div align = "center" class = "class1"> <input  class="submit"name= "submit" value ="submit" type = "submit"> </div>
</form>
<%  if( error ) {  %>
  <h1> Error with input form </h1>

<%  } %>
</body>
</html>