<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Contact Instructor </title>
	<style>
		body
		{
			font-size:20px;
		}
	.class1 {
    width: 50%;
    height: 20%;
    margin-right: auto;
    margin-left: auto;
         }
   .class2 {
    width: 30%;
    height: 40%;
    margin-right: auto;
    margin-left: auto;
    }
	h2{
		text-align: center;
	}
	button
	{
		margin:10px;
		background-color:rgb(22, 172, 164) ;
		font-size:17px;
		color:white;
	}
	#red
	{
		color:red;
	}
	</style>
</head>
<body>
	<h2>Get  Instructor  Address</h2>
	<form action="/contactInstructor" method="POST">
		<div align = "center" class= "class1">Instructor Name <input type="text" placeholder="Search.." name="Search"> </div>
		<div align = "center" class= "class2"> 
	<% if (address ==1 ) { %>
		<p id="red"> No Instructor found by this name </p>
	<%  } else if(address){ %>
		<p>Office Number :  <%= address.OfficeNo %> </p>
		<p>Email : <%= address.Email %></p>
		<p>Department: <%= address.department %> </p>
	<% }  %>
	<button type="submit">Get address</button>
	</form>
</body>
</html>