<!DOCUMENT html>
<html>
<head>
</head>
<body>

  <h1>Lost ID Request</h1>								<!--main purpose of page-->
  <h2>Students Name</h2>

  <form action="/lostid" method="post">
 	<label for="name"><sub>Name:</sub></label>					<!--name information-->
 	    <input type="text" id="name" name="name" value="" required><br><br>

 	<label for="id"><sub>ID:</sub></label>						<!--ID information-->
 	    <input type="text" id="id" name="id" value="" required><br><br>

        <label for="year"><sub>Current Year:</sub></label>				<!--Current year information-->
 	    <input type="text" id="year" name="year" value="" required><br><br>

        <label for="dep"><sub>Department:</sub></label>					<!--Department information-->
 	    <input type="text" id="dep" name="dep" value=""required><br><br>

        <label for="date"><sub>Date Lost:</sub></label>					<!--Date id was lost information-->
 	    <input type="text" id="date" name="date" value="dd/mm/yyyy" required><br><br>
       <% if(msg) { %>
        <p>Lost id request not successfull!!! please try again</p>
    <% } %>

    <button type="submit">submit</button> 					<!--submit and cancel buttons-->
    <button type="cancel">cancel</button> 
  </form>
</body>
</html>