<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
<body>
<form action="/projandassSubmition" method="post" enctype="multipart/form-data">
    <% if (msg == null){ %>

        <p>NO courses.</p>
    <% }else {%>
        <select name="courses" id="cars">
            <% msg.forEach( cmsg => {%>
                <% if (cmsg != null){ %>
                    <option value=<%= cmsg.courseName %>><%= cmsg.courseName%></option>
                <% }%>
            <%})%>
        </select>
    <% } %>
    <input type="file" name="assFile" id="sub">
    <input type="submit" name="subButton" value="Upload">
</form>
</body>
</html>