<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

  <h1>Dormitory</h1><br><br>					<!--main purpose of page-->
  <a href="https://pr2tat2.w3spaces.com/dormitory/dormitory_application.html">Dormitory Application</a><br><br>			<!--link for the first subpage option-->
  <a href="https://pr2tat2.w3spaces.com/dormitory/dormitory_placement.html">Dormitory Placement</a><br><br>			<!--link for the second subpage option-->
  <form action="/dormitory/Application" method="post">									<!--action that happens when submit is pressed-->
    <label for="dorms">Choose your first option:*</label>						<!--dropdown to choose first dorm choice-->
	<select name="dorm1" id="dorm1" required>
  		<option value="dorm_a">Dorm A</option>
  		<option value="dorm_b">Dorm B</option>
  		<option value="dorm_c">Dorm C</option>
  		<option value="dorm_d">Dorm D</option>
	</select><br><br>
    <label for="dorms">Choose your second option:</label>						<!--dropdown to choose second dorm choice-->
	<select name="dorm2" id="dorm2">
  		<option value="dorm_a">Dorm A</option>
  		<option value="dorm_b">Dorm B</option>
  		<option value="dorm_c">Dorm C</option>
  		<option value="dorm_d">Dorm D</option>
	</select><br><br>
    <label for="dorms">Choose your third option:</label>						<!--dropdown to choose third dorm choice-->
	<select name="dorm3" id="dorm3">
  		<option value="dorm_a">Dorm A</option>
  		<option value="dorm_b">Dorm B</option>
  		<option value="dorm_c">Dorm C</option>
  		<option value="dorm_d">Dorm D</option>
	</select><br><br>
	<% if (msg != null){%>
		<p>PROBLEM!</p>
	<%}%>
  <input type="submit" value="Submit">									<!--submit button-->
</form>
</body>
</html>